.bannar-content h1,
.bannar-content p{
    color: white;
}

.carousel-item{
    height: 90vh;
    background: #000;
    color: white;
    position: relative;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-position: center top;
    background-size: cover;
    opacity: .5;
}

/*  Popular Subjects section*/
.suject-card-bg{
    background-color: #bdfcea;
}
.suject-card-bg:hover{
    background-color: #0EB582;
}

